<div class="container p-3 m-3 border">
    <div class="card-columns">
        <div class="card" style="width: 18rem;" *ngFor="let product of productList">
            <img class="card-img-top" [src]="product.coverUrl" alt="comic book">
            <div class="card-body">
            <a [href]="product.title" class="card-title">{{product.title}}</a>
            <p class="card-text">{{product.price+' RON'}}</p>
            <a class="btn btn-primary" (click)="onAddToCart(product)">Add to cart</a>
            </div>
        </div>
    </div>
    <div class= "d-flex justify-content-center">
        <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#" (click)="onPreviousPage()"><</a></li>
        <li class="page-item"><a class="page-link" href="#" (click)="onNextPage()">></a></li>
        </ul>
    </div>
</div>